@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-*: initial;

  --color-black: #1b1b1c;
  --color-white: #fffcf3;

  --color-red: #e61107;
  --color-red-dark: #782622;

  --color-green: #bde88b;
  --color-green-dark: #365537;

  --color-pink: #f84475;
  --color-pink-dark: #6e0134;

  --color-blue: #253894;

  --font-display: var(--font-space-grotesk), sans-serif;
  --font-body: var(--font-lexend), sans-serif;
}
