---
import { getCollection } from "astro:content";
import RootLayout from "~Layouts/RootLayout.astro";
import { Image } from "astro:assets";

const blogs = await getCollection("blog");

blogs.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<RootLayout>
  <main class:list={["py-8 sm:py-4"]}>
    <h1
      class="text-6xl md:text-8xl font-display max-h-24 overflow-hidden font-black text-center md:text-left"
    >
      <span class="sr-only">Krish Gupta's</span>ARTICLES
    </h1>
    <main
      class:list={[
        "mt-8 mb-16",
        "flex flex-wrap",
        "justify-center md:justify-start items-stretch",
      ]}
    >
      {
        blogs.map((blog) => (
          <article class="flex flex-col flex-grow border max-w-sm gap-2 p-4 border-black/10 dark:border-white/10">
            <Image src={blog.data.cover} densities={[2]} alt={blog.data.title} width="350" class="mb-2" />
            <a
              href={new URL(blog.id, Astro.url)}
              class="hover:underline underline-offset-8 mb-2"
            >
              <h2 class="text-2xl font-semibold">{blog.data.title}</h2>
            </a>
            <p class="text-sm text-black/70 dark:text-white/70">
              {blog.data.date.toLocaleDateString("en-IN", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </p>
            <p class="mt-2 text-sm max-w-prose flex-grow">
              {blog.data.description}
            </p>
            <a
              href={new URL(blog.id, Astro.url)}
              class="mt-4 hover:underline underline-offset-8 mb-2"
            >
              Read More &rarr;
            </a>
          </article>
        ))
      }
    </main>
  </main>
</RootLayout>
